/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.link{
    display: flex;
    text-decoration: none;
    width: 70px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    align-items: center;
    text-align: center;
    border-width: 2px;
    justify-content: center;
}
.link-convo {
    display: flex;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    align-items: center;
    text-align: center;
    border-width: 2px;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-header {
    display: flex;
    align-items: center;
}
.sub-header-msg {
    display: flex;
    align-items: center;
}
.sub-header > h2 {
    padding-right: 20px;
}
.sub-header-msg > h2 {
    padding-right: 20px;
}
.date {
    padding-right: 20px;
}
.form {
    padding-left: 20px;
}
.form-create {
    padding-left: 20px;
    display: flex;
}

.link-block {
    text-decoration: none;
    color: black;
}
.link-block-container {
    border-style: solid;
    display: flex;
    padding: 10px;
    border-width: 1px;
    margin-bottom: -1px;
    align-items: stretch;
    justify-content: space-between;
}
.link-block-container > li:first-child {
    width: 70%;
}
.link-block-container > li:nth-child(3) {
    margin-left: auto;
}
ul {
    list-style: none;
    padding-left: 0px;
}

.form-create-text {
    display: flex;
    flex-direction: column;
}

.form-create-text > textarea {
    height: 195px;
    width: 296px;
}
.form-create-date {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}